
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {

    background-image: linear-gradient(45deg, rgba(50,93,105,1) 0%, rgba(95,129,138,1) 27%, rgba(50,93,105,1) 52%, rgba(14,16,15,1) 90%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(250,139,255,1);
    color: white;
    
  }
  

h1, h2, h3, a{
    font-family: "Roboto Condensed", sans-serif;

}

a {
text-decoration: none;
color: inherit;

}
#menu-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: rgb(50, 90, 175);
    opacity: 20;
    color: white;
    
}

#logo , #menu{
    /* width: auto; Each block takes up half the width of the container */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    position: relative; /* Position relative for absolute positioning of images */
    overflow: hidden; /* Hide any overflow from images */
    text-decoration: none;
}
/* Allows to modify the logo */
#logo {
    font-size: 2rem; 
    letter-spacing: 2px;
    position: relative; 
    width: 30%;
    text-align: center;
}
#menu {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    width: 70%;
}
#menu > ul > li {
    margin-top: auto;
    list-style-type: none;
    display: inline;
    padding: 1rem;
    position: relative;

}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 20px;
    
    
}

body{
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    
}
.front-menu{
    display: flex;
    flex-direction: row; /* By default, the blocks will be inline on bigger screens */
    flex-wrap: wrap; /* Allow wrapping to stack blocks on smaller screens */
    align-items: center;  /* Puts the text introduction in the middle */
    padding: 20px 10% 0 10%;
    
    
}
#text, #gallery{
    width: 50%; /* Each block takes up half the width of the container */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    position: relative; /* Position relative for absolute positioning of images */
    overflow: hidden; /* Hide any overflow from images */
} 

/* Wraps the intruduction text */
/* Sets the introduction text to be on the right of the gallery */
#text {  
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
}
/* Sets up peremeter for the gallery */
#gallery > img {
    width: 100%; /* Make images fill their container width */
    height: 100%; /* Make images fill their container height */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    object-position: center; /* Center the image within its container */
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 20px 0;
    display: flex;
}

#about-us{
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    position: relative;
    top: 0;
    font-size: 1.5rem;
}



#contact-us > h2 {
    padding: 20px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Sing up Section  */
#join-us{
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 30% 0 30%;
    flex-grow: 1;
}
#join-us > h2, #signup-form >h2 {
    text-align: center;
}

#signup {
/*  */
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}



@media (max-width: 600px) {
    /* On smaller screens, switch to a column layout */
    .front-menu {
        flex-direction: column;
        display: flex;
        width: 100%;
    }
    #text {
        width: 100%; /* Each block takes up half the width of the container */
    }
    #gallery {
        width: 100%;
    }
    #menu-top{
        flex-direction: column;
        width: 100%
    }
    #logo, #menu{
        width: 100%;
    }
    /*Enlarges the submission table to be more responsive on mobile phone */
    #join-us{
        padding: 40px 10% 0 10%;
        
    }
    /* Radio buttons will change into column to fit smaller screen */
    .radio-buttons {
        width: 100%;
        flex-direction: column;
    }
}
